show ip interface brief
show vlan brief
show interfaces trunk
show ip route
show running-config
ping
traceroute
